.cache/
.local/
.dotnet/
.pki/
.steam/
.var/
.vscode/
.vscode-shared/
Desktop/
Documents/
Downloads/
Games/
Music/
Pictures/
Projects/
Public/
Templates/
Videos/
.bash_history
.bash_logout
.bash_profile
.pulse-cookie
.steampath
.steampid
.wget-hsts